<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle($this->translate('FAMILIA - Application'))->setSeparator(' - ')->setAutoEscape(false) ?>
        <?= $this->render('layout/header/meta') ?>
        <?= $this->render('layout/header/styles') ?>
        <?= $this->render('layout/header/scripts') ?>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <?= $this->render('layout/menu/' . ($this->user === null ? 'guest' : $this->user->getRole()) . '.phtml') ?>
                    <?= $this->render('layout/translate/switcher.phtml') ?>
                </div>
            </div>
        </nav>
        <div class="container">
            <?= $this->content ?>
            <hr>
            <footer>
            </footer>
        </div>
    </body>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-action">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?= $this->translate('Close') ?></button>
                </div>
            </div>
        </div>
    </div>
</html>
