<div class="row">

    <legend  style="color:#8f8f8f"><?= (isset($this->action) && $this->action == 'edit') ? $this->translate('Edit Application') : $this->translate('Create Application') ?>
    </legend>
    <div class="col-md-6 col-md-offset-3">
        <form action="<?= $this->url('employee', ['action' => 'store']) ?>" method="post" class="create-employee" enctype="multipart/form-data">

            <div class="form-group">
                <label class="control-label application-label" for="surname_field"><?= $this->translate('Surname') ?>*</label>
                <input
                        id="surname_field"
                        name="surname"
                        type="text" placeholder=""
                        class="form-control input-md application-input"
                        value="<?= isset($this->employee) ? $this->employee->getSurname() : '' ?>"
                >
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="name_field"><?= $this->translate('Name') ?>*</label>
                <input
                        id="name_field"
                        name="name" type="text"
                        class="form-control input-md application-input"
                        value="<?= isset($this->employee) ? $this->employee->getName() : '' ?>"
                >
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="address_field"><?= $this->translate('Address') ?>*</label>
                <input
                        id="address_field"
                        name="address"
                        type="text"
                        class="form-control input-md application-input"
                        value="<?= isset($this->employee) ? $this->employee->getAddress() : '' ?>"
                >
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="zip_field"><?= $this->translate('ZIP') ?>*</label>
                <input
                        id="zip_field"
                        name="zip"
                        type="text"
                        class="form-control input-md application-input"
                        value="<?= isset($this->employee) ? $this->employee->getZip() : '' ?>"
                >

            </div>

            <div class="form-group">
                <label class="control-label application-label" for="city_field"><?= $this->translate('City') ?>*</label>
                <input
                        id="city_field"
                        name="city"
                        type="text"
                        class="form-control input-md application-input"
                        value="<?= isset($this->employee) ? $this->employee->getCity() : '' ?>"
                >
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="mobile_phone_field"><?= $this->translate('Mobile phone number') ?>*</label>
                <input
                        id="mobile_phone_field"
                        name="mobile_phone"
                        type="text"
                        class="form-control input-md application-input"
                        value="<?= isset($this->employee) ? $this->employee->getMobilePhone() : '' ?>"
                >
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="landline_number_field"><?= $this->translate('Landline number') ?></label>
                <input
                        id="landline_number_field"
                        name="landline_phone"
                        type="text"
                        class="form-control input-md application-input"
                        value="<?= isset($this->employee) ? $this->employee->getLandlinePhone() : '' ?>"

                >
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="email_field"><?= $this->translate('Email') ?>*</label>
                <input
                        id="email_field"
                        name="email"
                        type="text"
                        placeholder=""
                        class="form-control input-md application-input"
                        value="<?= isset($this->employee) ? $this->employee->getEmail() : '' ?>"
                >
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="area_around_field"><?= $this->translate('Area around home address willing to work') ?>*</label>
                <select id="area_around_field" name="area_around" class="form-control application-input">
                    <?php foreach ($this->areas as $area) : ?>
                        <?php /** @var \Application\Model\Area $area */ ?>
                        <option
                            value="<?= $area->getId() ?>"
                            <?= (isset($this->employee) && $this->employee->getAreaAround() !== null && $this->employee->getAreaAround()->getId() === $area->getId()) ? 'selected' : '' ?>
                        >
                            <?= $area->getValue() ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="contact_type_field"><?= $this->translate('Type of contract') ?>*</label>
                <select id="contact_type_field" name="contract_type" class="form-control application-input">
                    <?php foreach ($this->contracts as $contract) : ?>
                        <?php /** @var \Application\Model\Contract $contract */ ?>
                        <option
                            value="<?= $contract->getId() ?>"
                            <?= (isset($this->employee) && $this->employee->getContract() !== null && $this->employee->getContract()->getId() === $contract->getId()) ? 'selected' : '' ?>
                        >
                            <?= $contract->getName() ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="weekly_hours_field"><?= $this->translate('Weekly hours available') ?>*</label>
                <select id="weekly_hours_field" name="weekly_hours" class="form-control application-input">
                    <?php foreach ($this->weeklyHours as $weeklyHour) : ?>
                        <?php /** @var \Application\Model\WeeklyHours $weeklyHour */ ?>
                        <option
                            value="<?= $weeklyHour->getId() ?>"
                            <?= (isset($this->employee) && $this->employee->getWeeklyHoursAvailable() !== null && $this->employee->getWeeklyHoursAvailable()->getId() === $weeklyHour->getId()) ? 'selected' : '' ?>
                        >
                            <?= $weeklyHour->getValue() ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>

            <div class="form-group ">
                <label class="control-label application-label" for="start_day_field"><?= $this->translate('Start day') ?>*</label>

                <div class="input-group date" id="start_day_field_picker">
                    <input
                            type="text"
                            id="start_day_field"
                            name="start_date"
                            class="form-control input-md application-input"
                            value="<?= isset($this->employee) && $this->employee->getStartDate() !== null ? $this->employee->getStartDate()->format('d-m-Y') : '' ?>"
                    >
                    <span class="input-group-addon button-save"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="commenst_field"><?= $this->translate('Comments') ?></label>
                <textarea id="commenst_field" name="comments" class="form-control application-input"  rows="4" style="resize: vertical;"><?= isset($this->employee) ? $this->employee->getComments() : '' ?></textarea>
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="hourly_rate_field"><?= $this->translate('Hourly rate') ?>*</label>
                <input
                        id="hourly_rate_field"
                        name="hourly_rate"
                        type="text"
                        class="form-control input-md application-input"
                        value="<?= isset($this->employee) ? str_replace(".", ",", $this->employee->getHourlyRate()) : '' ?>"
                >
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="experience_field"><?= $this->translate('Experience in the job') ?>*</label>
                <select id="experience_field" name="experience" class="form-control application-input">
                    <option value="1" <?= (isset($this->employee) && $this->employee->isExperience()) ? 'selected' : '' ?>><?= $this->translate('Yes')  ?></option>
                    <option value="0" <?= (isset($this->employee) && (false === $this->employee->isExperience())) ? 'selected' : '' ?>><?= $this->translate('No') ?></option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="driving_licence_field"><?= $this->translate('Driving licence') ?>*</label>
                <input
                    type="checkbox"
                    name="driving_license"
                    value="1"
                    id="driving_licence_field"
                    <?= (isset($this->employee) && $this->employee->isDrivingLicence()) ? 'checked' : '' ?>
                >
            </div>

            <div class="form-group">
                <label class="control-label application-label" for="car_available_field"><?= $this->translate('Car available') ?>*</label>
                <input
                    type="checkbox"
                    name="car_available"
                    value="1"
                    id="car_available_field"
                    <?= (isset($this->employee) && $this->employee->isCarAvailable()) ? 'checked' : '' ?>
                >
            </div>

            <?php if ($this->role === 'admin' || $this->role === 'contributor') :?>
                <div class="form-group">
                    <label class="control-label application-label" for="source-field"><?= $this->translate('Application Source') ?>*</label>
                    <select id="source-field" name="source" class="form-control application-input">
                        <?php foreach ($this->sources as $source) : ?>
                            <?php /** @var \Application\Model\Area $source */ ?>
                            <option
                                    value="<?= $source->getId() ?>"
                                <?= (isset($this->employee) && $this->employee->getSourceApplication() !== null && $this->employee->getSourceApplication()->getId() === $source->getId()) ? 'selected' : '' ?>
                            >
                                <?= $source->getName() ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </div>
            <?php else : ?>
            <input type="hidden" name="source">
            <?php endif; ?>

            <div class="row">
                <div class="upload-file-container col-md-4" style="border-radius: 7px">
                    <img  id="image"  width="150px" class="media-object" src="<?= isset($this->employee) ? $this->basePath($this->employee->getImage()->getThumbnail()) : $this->basePath('/img/user-profile-thumb.png') ?>" alt="" style="border-radius: 7px; margin-bottom: 7px">
                </div>
                <div class="upload-file-attach col-md-8">
                </div>
            </div>

            <div class="form-group upload-file-container-text">
                <label class="btn button-save">
                    <?= $this->translate('Upload user photo') ?> <input type="file" name="image" id="avatar_field" accept="image/*" style="display: none;">
                </label>

                <label class="btn button-save btn-file">
                    <?= $this->translate('Attachments') ?> <input type="file" name="attachments[]" id="attachments-input"  class="attachments-input"  multiple style="display: none;">
                </label>
            </div>
            <span style="color: grey;"><?= $this->translate('File format') ?>: pdf, doc, docx, odt, png, jpg, jpeg, gif, bmp</span>

            <?php if (isset($this->id)) : ?>
                <input type="hidden" name="id" value="<?= $this->id ?>">
            <?php endif; ?>

            <input
                id="latitude"
                name="latitude"
                type="hidden"
                class="form-control input-md application-input"
                value="<?= isset($this->coordinate) ? $this->coordinate->getLatitude() : '' ?>"
            >
            <input
                id="longitude"
                name="longitude"
                type="hidden"
                class="form-control input-md application-input"
                value="<?= isset($this->coordinate) ? $this->coordinate->getLongitude() : '' ?>"
            >
            <?php if (isset($this->action) && $this->action == 'edit') :?>
                <input type="hidden" name="action" value="edit">
            <?php endif;?>
            <div class="form-group">
                <div class="text-right" >
                    <button class="btn button-save btn-lg"><?= (isset($this->action) && $this->action == 'edit') ? $this->translate('Edit') : $this->translate('Save') ?></button>
                </div>
            </div>
        </form>
    </div>

</div>