<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="<?= $this->basePath($this->employee->getImage()->getThumbnail()) ?>" alt="">
        </a>
    </div>
    <div class="media-body">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="media-heading"><?= $this->employee->getSurname() ?>&nbsp;<?= $this->employee->getName() ?></h4>
                <a href="mailto:<?= $this->employee->getEmail() ?>" class="a-dashboard"><?= $this->employee->getEmail() ?></a>
                <p><span class="glyphicon glyphicon-phone"></span> <?= $this->employee->getMobilePhone() ?></p>
                <p><span class="glyphicon glyphicon-phone-alt"></span> <?= $this->employee->getLandlinePhone() ?></p>
            </div>
            <div class="col-sm-6 text-right">
                <form action="<?= $this->url('employee', ['action' => 'edit']) ?>" method="post">
                    <input type="hidden" name="action" value="edit">
                    <input type="hidden" name="id" value="<?= $this->employee->getId() ?>">

                    <?php if ($this->user !== null && $this->user->getRole() !== 'user')  : ?>
                        <?php if ('employed' == $this->employee->getJobStatus()) : ?>

                            <button
                                    class="btn btn-danger employed-unemployed"
                                    id="unemployed"
                                    data-action="<?= $this->url('employee', ['action' => 'delete']) ?>"
                                    data-status="active"
                                    data-hash="<?= $this->employee->getHash() ?>"
                            >
                                <?= $this->translate('Fire') ?>
                            </button>
                        <?php else :?>
                            <button
                                    class="btn btn-success employed-unemployed"
                                    id="employed"
                                    data-action="<?= $this->url('employee', ['action' => 'delete']) ?>"
                                    data-status="employed"
                                    data-hash="<?= $this->employee->getHash() ?>"
                            >
                                <?= $this->translate('Employ') ?>
                            </button>

                        <?php endif;?>
                    <?php endif;?>

                    <?php if ('deleted' == $this->employee->getJobStatus()) :?>
                        <button
                                type="submit"
                                class="btn btn-primary"
                                id="delete_employee"
                                data-action="<?= $this->url('employee', ['action' => 'delete']) ?>"
                                data-status="active"
                                data-hash="<?= $this->employee->getHash() ?>"
                        >
                            Restore
                        </button>
                    <?php else :?>

                        <button type="submit" class="btn btn-primary edit-profile-modal"><?= $this->translate('Edit') ?></button>
                        <div class="btn btn-danger" id="delete_employee_show" data-toggle="collapse" data-target="#show-ask-delete"><?= $this->translate('Delete') ?> </div>

                        <div id="show-ask-delete" class="collapse">
                            <div class="form-group">
                                <label class="control-label application-label" for="delete-ask"><?= $this->translate('Reason Delete') ?></label>
                                <select id="delete-ask" name="reason" class="form-control application-input">
                                    <?php foreach ($this->reason as $key) : ?>
                                        <?php /** @var \Application\Model\Area $area */ ?>
                                        <option value="<?= $key->getId() ?>"><?= $key->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div class="btn btn-link a-dashboard" id="delete_employee_show" data-toggle="collapse" data-target="#show-ask-delete">< <?= $this->translate('Back') ?> </div>
                            <button
                                    type="submit"
                                    class="btn btn-danger"
                                    id="delete_employee"
                                    data-action="<?= $this->url('employee', ['action' => 'delete']) ?>"
                                    data-status="deleted"
                                    data-hash="<?= $this->employee->getHash() ?>"
                            >
                                <?= $this->translate('Delete') ?>
                            </button>
                        </div>
                    <?php endif;?>

                </form>
            </div>
        </div>
    </div>
    <h4>
        <?= $this->translate('Address') ?>:
        <?= $this->translate('Germany') ?>,
        <?= $this->employee->getCity() ?>,
        <?= $this->employee->getZip() ?>,
        <?= $this->employee->getAddress() ?>
    </h4>
    <h4 class="page-header"><?= $this->translate('Additional information') ?></h4>
    <ul class="list-group">
        <li class="list-group-item">
            <?= $this->translate('Hourly rate') ?>: &euro;<?= str_replace(".", ",", $this->employee->getHourlyRate()) ?>
        </li>

        <?php if ($this->employee->getContract() !== null) : ?>
            <li class="list-group-item">
            <?= $this->translate('Type of contract') ?>: <?= $this->employee->getContract()->getName() ?>
            </li>
        <?php endif; ?>
        <?php if ($this->employee->getWeeklyHoursAvailable() !== null) : ?>
            <li class="list-group-item">
                <?= $this->translate('Weekly hours available') ?>: <?= $this->employee->getWeeklyHoursAvailable()->getValue() ?>
            </li>
        <?php endif; ?>
        <?php if ($this->employee->getStartDate() !== null) : ?>
            <li class="list-group-item">
                <?= $this->translate('Start day') ?>: <?= $this->employee->getStartDate()->format('d-m-Y') ?>
            </li>
        <?php endif; ?>
        <li class="list-group-item">
            <?= $this->translate('Area around home address willing to work') ?>: <?= $this->employee->getAreaAround()->getValue() ?>
        </li>
        <li class="list-group-item">
            <?= $this->translate('Comment') ?>
            <div class="well">
                <?= $this->employee->getComments() ?>
            </div>
        </li>
        <?php if (true === $this->employee->isExperience()) : ?>
            <li class="list-group-item">
                <?= $this->translate('Has experience') ?>
            </li>
        <?php endif; ?>
        <?php if (true === $this->employee->isCarAvailable()) : ?>
            <li class="list-group-item">
                <?= $this->translate('Car available') ?>
            </li>
        <?php endif; ?>
        <?php if (true === $this->employee->isDrivingLicence()) : ?>
            <li class="list-group-item">
                <?= $this->translate('Driving license present') ?>
            </li>
        <?php endif; ?>
        <li class="list-group-item">
            <?= $this->translate('Source Application') ?>:
            <?php if ($this->employee->getSourceApplication() === null) :?>
                Website
            <?php else :?>
                <?= $this->employee->getSourceApplication()->getName() ?>
            <?php endif; ?>
        </li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <?= $this->translate('Attachments') ?>
            <div class="row">
                <?php foreach($this->files as $file) : ?>
                    <div class="file-container">
                        <div class="col-xs-6 col-xs-offset-1">
                            <a href="<?= $this->basePath($file->getPath()) ?>" class="a-dashboard" style="display: block" download><span class="glyphicon glyphicon-cloud-download"></span> <?= $file->getName()?></a>
                        </div>
                        <div class="col-xs-4 text-right">
                            <a class="btn a-dashboard attach-delete" data-path="<?= $file->getPath()?>" data-id="<?= $file->getId() ?>"><span class="glyphicon glyphicon-trash" aria-hidden="true"><?= $this->translate('Delete') ?></a>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>

            <form action="<?= $this->url('employee', ['action' => 'add-attachments']) ?>" method="post" class="async" enctype="multipart/form-data">
                <input type="hidden" name="id" value="<?= $this->employee->getId() ?>">
                <div class="form-group" >
                    <label class="btn button-sign-in btn-file">
                        <?= $this->translate('Add Attachments') ?>
                        <input type="file" name="attachments[]" id="attachments-input-show"  class="attachments-input-show"  multiple style="display: none;">
                    </label>
                </div>
            </form>

        </li>

    </ul>
</div>
<hr>
<?php  if ($this->user !== null && $this->user->getRole() === \Application\Model\User::ROLE_ADMIN)  : ?>
    <?= $this->render('layout/concern/comments') ?>
<?php endif; ?>

